/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  /* Navigation Bar */
  .navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* this align the elements to the right */
  }
  .navbar li {
    padding: 0 1rem;
  }
  .navbar li a {
    color: #fff;
    text-decoration: none;
    background-color: #555;
  }
  .navbar li a:hover{
    background-color: lighten(#555, 20%);
  }
  
  /* Logo */
  .logo {
    width: 50px;
    height: 50px;
    background-image: url('logo.png');
    background-size: cover;
  }
  